/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 650px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    
}

.result{
    width: 50%;
    background: rgb(55, 91, 211);
    border-radius: 20px;
    text-align: center;
    color: #fff;
}

.result-title{
    margin: 30px 0;
    color: rgb(207, 205, 211);
}

.result-box{
   width: 180px;
   height: 180px;
   margin: 20px auto;
   border-radius: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: linear-gradient(rgb(40, 78, 200), rgba(55, 91, 211, 0.815));
   color: rgb(162, 160, 165);
   font-weight: bold;
}

.result-box span{
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
}

.result-heading h3{
    font-size: 1.8rem;
    margin: 20px 0;
}

.result-subline{
    width: 70%;
    margin: 0 auto 30px;
    color: rgb(207, 205, 211);
    font-weight: 500;
}

.summary{
    padding: 30px;
    width: 50%;
}

.summary-title h3{
    margin-bottom: 35px;
}

.summary-table{
    width: 100%;
}

.summary-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.summary-row .summary-data-mark{
    font-weight: 600;
    color: rgb(141, 138, 144);
}

.summary-row .summary-data{
    font-weight: 600;
}

.summary-row .summary-data img{
    margin-bottom: -5px;
}

.summary-row .summary-data-mark span{
    color: #000;
}

.summary-row:nth-child(1){
    background: #ff555515;
}
.summary-row:nth-child(2){
    background: #ffbf4715;
}
.summary-row:nth-child(3){
    background: #3fcbaa1c;
}
.summary-row:nth-child(4){
    background: #3c4cdd11;
}

.reaction .summary-data:nth-child(1){
    color: #FF5555;
}
.memory .summary-data:nth-child(1){
    color: #FFC047;
}
.verbal .summary-data:nth-child(1){
    color: #3FCBAA;
}
.visual .summary-data:nth-child(1){
    color: #3C4DDD;
}

.summay-btn{
    border: none;
    outline: none;
    padding: 15px 20px;
    width: 100%;
    background: rgb(32, 35, 56);
    font-weight: 600;
    color: #fff;
    border-radius: 25px;
    transition: .5s;
}

.summay-btn:hover{
    background: rgb(55, 91, 211);
}

@media (max-width : 706px) {
    main{
        height: 100%;
        margin: 30px 0;
    }
    .container{
        width: 90%;
        flex-direction: column;
    }
    .result, .summary{
        width: 100%;
    }
}


