/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}

img{
    width: 100%;
}

/* Main Container */

.main-container{
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Content Section */

.content-section{
    width: 45%;
    text-align: center;
    font-size: 1.3rem;
    color: hsl(234, 12%, 34%);
}

.head-title{
    font-weight: 200;
}

.content-subline{
    font-size: .8rem;
    margin: 1rem;
    color: hsl(229, 6%, 66%);
}

/* Card Section */

.card-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    margin: 2rem;
}

.cards{
    background: #fff;
    width: 280px;
    height: 200px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    position: relative;
}

.supervisor{
    border-top: 3px solid hsl(180, 62%, 55%);
}
.team-builder{
    border-top: 3px solid hsl(0, 78%, 62%);
    margin-bottom: 1rem;
}
.karma{
    border-top: 3px solid hsl(34, 97%, 64%);
}
.calculator{
    border-top: 3px solid hsl(212, 86%, 64%);
}

.card-title h3{
    font-size: .9rem;
    color: hsl(234, 12%, 34%);
}

.card-subline p{
    font-size: .7rem;
    color: hsl(229, 6%, 66%);
    margin: 10px 0;
}

.card-icon{
    width: 45px;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

/* Media Quries */

@media (max-width:900px) {
    .main-container{
        height: auto;
        margin: 2rem auto;
    }
    .card-section{
        grid-template-columns: 1fr;
    }
}
@media (max-width:660px) {
    .content-section{
        width: 80%;
    }
}
@media (max-width:372px) {
    .content-section{
        font-size: 1.2rem;
    }
}

