/* Media quries*/
@media (max-width: 1234px) {
    .cat-swipe-prev{
        left: 2%;
    }
    .cat-swipe-next{
        right: 2%;
    }
}

@media (max-width: 1156px) {
    .category{
        padding-bottom: 0;
    }
    .cat-swipe-prev,
    .cat-swipe-next{
        position: unset;
    }
    .category__card-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 3rem;
    }
}

@media (max-width: 1098px) {
    .container{
        padding: 15px 45px;
    }
}

@media (max-width: 1086px) {
    .home__banner{
        background-position: left;
    }
}

@media (max-width: 964px) {
    .home{
        grid-template-areas: 
        'dropdown search search search search '
        'dropdown contact contact contact contact '
        'dropdown banner banner banner banner ';
        grid-template-columns: 20% 1fr;
        grid-template-rows: 45px 40px 1fr;
        gap: .5rem;
    }
    .home__contact{
        margin-left: auto;
    }
    .home__dropdown-header{
        padding: 5px 10px;
    }
}

@media (max-width: 892px) {
    .home{
        grid-template-areas: 
        'dropdown dropdown search search search '
        'dropdown dropdown contact contact contact '
        'dropdown dropdown banner banner banner ';
    }
}

@media (max-width: 752px) {
    .home{
        padding-top: 4rem;
        gap: 1.5rem;
        grid-template-areas: 
        'home__menubar-iconprice'
        'dropdown'
        'search'
        'contact'
        'banner';
        grid-template-columns: 1fr;
        grid-template-rows: 50px auto 100px 50px 300px;
    }
    .home__dropdown{
        height: auto;
    }
    .home__contact{
        margin: 0 auto 20px;
    }
    /*  header navbar */
    .header__toggle{
        display: initial;
    }
    .header__menus{
        display: none;
    }
    .header__icon-price{
        display: none;
    }
    .home__menubar-iconprice{
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }
    .home__banner-content{
        width: 100%;
    }
    
    /* mobile menubar */
    .mobile__menubar{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 85%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100%;
        padding: 2rem;
        background-color: var(--alter-color);
        transition: 1s;
    }
    .mobile__menubar-logo{
        width: 80px;
    }
    .mobile__menubar-logo img{
        width: 100%;
    }
    .mobile__menubar-iconprice{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .mobile__menubar-language,
    .mobile__menubar-login{
        padding: 5px 10px;
        border-radius: 3px;
        background-color: #f2f2f2;
        color: var(--label-color);
        font-size: 9px;
        display: inline-flex;
        align-items: center;
        gap: .5rem;
        margin-right: 10px;
    }
    .mobile__menubar-language img{
        width: 15px;
    }
    .mobile__menubar-language i{
        font-size: 8px;
    }
    .mobile__menubar-menus{
        width: 100%;
    }
    .mobile__menubar-menus li{
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: .8rem;
        color: var(--text-color);

    }
    .mobile__menubar-menus li a{
        color: var(--text-color);
        font-size: .9rem;
        font-weight: 600;
        transition: .3s;
    }
    .mobile__menubar-menus li a:hover{
        color: var(--main-color);
    }
    .mobile__menubar-menus li span{
        display: inline-block;
        flex-grow: 1;
        border-bottom: .5px solid #f2f2f2;
        align-self: flex-end;
    }

    .mobile__menubar-smicons{
        display: flex;
        gap: 1rem;
    }
    .mobile__menubar-smicons li a{
        display: inline-block;
        width: 35px;
        height: 35px;
        color: var(--text-color);
        background-color: #f2f2f2;
        border-radius: 50%;
        display: grid;
        place-items: center;
        transition: .3s;
    }
    .mobile__menubar-smicons li a:hover{
        background-color: var(--main-color);
        color: #fff;
    }
    .mobile__menubar-smicons li a i{
        font-size: 12px;
    }
    .mobile__menubar-mail,
    .mobile__menubar-label{
        font-size: 10px;
        color: var(--label-color);
    }
    .mobile__menubar-mail i{
        margin-right: 5px;
    }
    .mobile-menu{
        left: 0;
    }
    /* mobile menubar- */
}

@media (max-width: 580px) {
    .home__search-category{
        gap: 1rem;
    }
    .home__banner{
        background-image: unset;
        text-align: center;
        
    }
    .home__banner-content{
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 546px) {
    .home__search-category{
        display: none;
    }
    .home__search-input{
        border-left: .5px solid var(--light-color);
    }
    .footer__newsletter-input{
        flex-direction: column;
        gap: 1rem;
    }
    .footer__newsletter-input input{
        width: 100%;
    }
    .footer__newsletter-input button{
        align-self: flex-end;
    }
    .footer__end{
        flex-direction: column;
        gap: 1.5rem
    }
    .copyright{
        order: 2;
    }
}
@media (max-width: 560px) {
    .category__card{
        width: 220px;
        height: 280px;
    }
}
@media (max-width: 470px) {
    .container{
        padding: 10px 20px;
    }
}

