/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

main{
    width: 100%;
    height: 100vh;
    background: hsl(225, 100%, 98%);
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 330px;
    background: #fff;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-img{
    width: 100%;
    height: 160px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-img img{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-content{
    margin: 20px 0 0;
    padding: 10px 40px;
    text-align: center;
}

.title h3{
    color: hsl(223, 40%, 12%);
    font-weight: 900;
}

.text p{
    font-size: 12px;
    margin: 20px 0 0;
    color: hsl(230, 2%, 51%);
    line-height: 20px;
}

.card-plan{
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-payment{
    display: flex;
    align-items: center;
}

.payment p{
    margin-left: 15px;
    font-size: 12px;
}

.payment p:first-child{
    font-weight: 900;
    color: hsl(223, 40%, 12%);
}

.payment p:last-child{
    color: hsl(230, 2%, 51%);
}

.change a{
    font-size: 12px;
    color: hsl(245, 75%, 52%);
    font-weight: 900;
    transition: .5s;
}

.change a:hover{
    color: hsl(224, 23%, 55%);
}

.card-btn{
    margin: 20px 0;
    text-align: center;
}

.card-btn button{
    border: none;
    outline: none;
    background: hsl(245, 75%, 52%);
    padding: 10px 15px;
    border-radius: 6px;
    color: #fff;
    font-weight: 900;
    font-size: 12px;
    width: 80%;
    transition: .5ms;
    cursor: pointer;
}

.card-btn button:hover{
    background: hsl(224, 23%, 55%);
}

.cancel-order{
    text-align: center;
    margin-bottom: 30px;
}

.cancel-order a{
    text-decoration: none;
    color: hsl(230, 2%, 51%);
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    transition: .5s;
}

.cancel-order a:hover{
    color: rgb(27, 26, 26);
}

